{% extends 'base.html' %}

{% block content %}


    <main class="container py-5" >
        <section class="card card-body">
            <h1 class="display-1 text-center mi-estilo">Editar Contenido</h1>
            <form method="post"  class="container-fluid border p-4 rounded">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <div class="text-center">
                    <button type="submit" class="btn btn-dark">Actualizar Seccion</button>
                </div>
            </form>
        </section>
    </main>

{% endblock %}
