{% extends 'base.html'%}


{% block content %}

{% load static %}

    <div class="col-10 d-flex justify-content-center " style="width: 100%">
    <div >
        <h1 style="color: #198754 ;margin-top: 50px" >Galeria</h1>
    </div>
    </div>

    <div class="container" style="width: 100%">
    <div class="col-10 d-flex justify-content-center  mt-4" style="width: 100%" >
            <div class="gallery d-block " style="width: 100%">
                    {% for img in photos_gallery %}
                         {% if img.Section == '0' %}
                             <img style="width: 33%" class="gallery-item" src="{{ img.photo.url }}" alt="{{ img.title }}">
                         {% endif %}
                    {% endfor %}
            </div>
    </div>
    </div>

    <div class="container" style="width: 100%" >
    <div class="col-10 justify-content-center  mt-4" style="width: 100%" >
        <div class="subSecciones" style="margin-top: 30px;">
            <div style="margin-bottom: 20px;">
            <a href="#" class="btn-Sub">Biodiversidad</a>
            <p style="margin-top: 10px;font-weight: 700;">Descubre la diversidad del humedal</p>
            </div>
                <div class="d-flex justify-content-between">
                    {% for img in photos_gallery %}
                         {% if img.Section == '1' %}
                             <img style="width: 33%" class="img-fluid" src="{{ img.photo.url }}" alt="{{ img.title }}">
                         {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

    <div class="container">
    <div class="col-10 justify-content-center  mt-4" style="width: 100%">
        <div class="subSecciones" style="margin-top: 30px;">
            <div style="margin-bottom: 20px;">
            <a href="#" class="btn-Sub">Actividades</a>
            <p style="margin-top: 10px;font-weight: 700;">Descubre nuestras actividades</p>
            </div>
                <div class="d-flex justify-content-between">
                    {% for img in photos_gallery %}
                         {% if img.Section == '2' %}
                             <img style="width: 33%" class="img-fluid" src="{{ img.photo.url }}" alt="{{ img.title }}">
                         {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

    <div class="container col-10">
    <div class="d-flex  mt-4" style="width: 100%" >
        <div class="subSecciones" style="margin-top: 30px;">
            <div style="margin-bottom: 20px;">
            <a href="amenazas.html" class="btn-Sub">Amenazas</a>
            <p style="margin-top: 10px;font-weight: 700;">Conoce las amenazas que nos afectan</p>
            </div>
                <div  class="d-flex justify-content-between">
                    {% for img in photos_gallery %}
                         {% if img.Section == '3' %}
                             <img style="width: 33%" class="img-fluid" src="{{ img.photo.url }}" alt="{{ img.title }}">
                         {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

    <div class="col-10 d-flex justify-content-center " style="width: 100%">
    <div >
        <h1 style="color: #198754 ;margin-top: 50px" >Flora y Fauna</h1>
    </div>
    </div>



    <div class="container" style="width: 100%">
        <div class="col-10 d-flex justify-content-center  mt-4" style="width: 100%" >
            <div class="col-10">
                  <div  class="d-flex justify-content-between">
                      {% for i in floraView %}
                          <div class="card">
                            <a href="#" style="text-decoration: none;">
                                <img style="width: 100%;" class="gallery-item" src="{{ i.photo.url }}" alt="{{ i.title }}">
                                    <div class="card-content">
                                        <h3 class="card-title" style="color: #198754;">{{ i.title }}</h3>
                                        <p class="card-description">{{ i.description }}</p>
                                    </div>
                            </a>
                          </div>
                      {% endfor %}
                  </div>
            </div>
        </div>
    </div>


{% endblock %}